.ContactData {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.ContactData input {
    margin: 5px auto;
    display: flex;
    flex-flow: row;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}